<%= form_with(model: @article, local: true, data: {turbo: false}, url: article_path(@article), method: :put) do |f|%>
    <p><%= f.label :title%></p>
    <p><%= f.text_field :title %></p>
     <p><%= f.label :text%></p>
    <p><%= f.text_area :body %></p>
    <p><%= f.submit 'Edit'%></p>
<% end %>